{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Alterar Nome de Usuário</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ user_form.username.id_for_label }}" class="form-label">Nome de Usuário</label>
                            {{ user_form.username }}
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar Nome de Usuário</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}