{% extends 'base.html' %}

{% block content %}
  <h2>Devolução de Empréstimo</h2>
  <p><strong>Colaborador:</strong> {{ emprestimo.colaborador.nome_completo }}</p>
  <p><strong>Equipamento:</strong> {{ emprestimo.equipamento.nome_epi }}</p>
  <p><strong>Quantidade Emprestada:</strong> {{ emprestimo.quantidade_emprestada }}</p>
  <p><strong>Quantidade Devolvida:</strong> {{ emprestimo.quantidade_devolvida }}</p>
  <p><strong>Em uso:</strong> {{ emprestimo.em_uso }}</p>

  <form method="post">
    {% csrf_token %}
      <div class="form-group">
      <label for="quantidade_devolvida">Quantidade a Devolver</label>
  <input type="number" name="quantidade_devolvida" id="quantidade_devolvida" class="form-control" min="1" max="{{ emprestimo.em_uso }}" required>
    </div>
    <button type="submit" class="btn btn-primary">Confirmar Devolução</button>
    <a href="{% url 'emprestimo_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}